{% extends 'layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block navigation %}

          <img src =  "{{ url_for('static',filename='favicon32.png') }}" align = "left" alt = "icon" height = "32" width = "32">
          <a href = "/" class = "navbar-brand" id = "navtitle"> GroupStudy </a>
{% endblock %}

{% block main %}

    <div class = "row">

        <div id = "column" style = "margin-top : 145px;">

            <span id = "content1"> Feel Connected To Students Around The World! </span>

        </div>

        <div id = "column"  style = "margin-top : 60px;">
        <div class = "shadow card text-center" style = "width : 450px; height : 500px;">

            <div class = "card-header">
                <ul class = "nav nav-tabs card-header-tabs">
                    <li class = "nav-item">
                        <a class = "nav-link active" href = "/login"> Log In </a>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" href = "/register"> Register </a>
                      </li>
                </ul>
             </div>

             <div class = "card-body">
               <form action="/login" method="post">

                    <br>
                    <div class="form-group">
                         <h5 style = "float : left;"> Username </h5>
                         <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                     </div>

                     <br>
                     <div class="form-group">
                         <h5 style = "float : left;"> Password </h5>
                         <input class="form-control" name="password" placeholder="Password" type="password">
                     </div>

                     <br>
                     <br>
                    
                    <button class="btn btn-primary" type="submit" style = "width : 120px; border-radius : 20px;">Log In</button>
                    
                    <div class = "row" style = "margin-top : 18px; margin-left : 143px;">
                        <a href = "/forgot_password" style = "color : gray;"> Forgot Password? </a></div>
                    </div>
                </form>

              </div>
            </div>
        </div>
    </div>

{% endblock %}
